// 헤더 로고, 네비게이션

#hd{
    z-index: 1000;
    h1 {
        z-index: 1;
    }
    .gnb {
        &:before {
            content: "";
            position: fixed;
            left: 0%;
            width: 100vw; /* 전체 뷰포트 너비로 설정 */
            height: 0%;
            transition: 0.5s;
            background-color: rgba(255, 255, 255,.8) !important;
            border-bottom: none !important;
            margin-bottom: 0 !important;
        }
        &:hover {
            &:before {
                content: "";
                height: 250px;
                transition: height 0.5s;
            }
            .gnb_li{
                padding: 0 50px;
                .gnb_ul{
                    height: 250px;  
                    width: 100%;
                }
            }
        }
    }
        .gnb_li{
            transition: 0.5s;
            padding: 0 20px;
            &:hover{
                .gnb_a{
                    span{
                        &:before {
                            width: 50%; 
                        }
                    }   
                }
            }
            .gnb_a{
                span{
                    &:before {
                        content: "";
                        transform: translateX(-50%);
                        left: 50%;
                        height: 4px;
                        position: absolute;
                        z-index: 1000000;
                        border-radius: 3px;
                        transition: all 0.4s;
                    }
                }   
            }    
        }
        .gnb_ul {
            overflow: hidden;
            height: 0;
            top: 100%;
            transition: height 0.2s;
            padding: 0;
            padding-top: 20px;
            &:after,
            &:before {
              content: "";
              display: block;

            }
            a {position: relative;
                display: block;
                padding: 10px 0;
              &:hover {
                display: block;
                text-decoration: underline;
                } 
            }
            span{
                &::before{
                    content: "";
                }
            }
        }
        span{
            &::before{
                content: "";
                width: 0;   
            }
        } 
}
.bi{
    font-size: 20px;
    @media (max-width:1440px) {
        font-size: 16px;
    }
    @media (max-width:1024px) {
        font-size: 12px;
    }
    @media (max-width:990px) {
        font-size: 21px;
    }
}
.bi-list{
    font-size: 30px;
    @media (max-width:1440px) {
        font-size: 16px;
    }
    @media (max-width:1024px) {
        font-size: 12px;
    }
    @media (max-width:990px) {
        font-size: 30px;
    }
}

@media (max-width: 990px) {
    .gnb {
        display: none;
    }
    .gnb_reg,
    .hd_icons {
        display: none;
    }
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
}
#mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    transition: right 0.3s ease-in-out;
    .menu-content{
        position: fixed;
        left: 0;
        background: #f4f5f6;
        top: 0;
        bottom: 0;
        width: 40%;
        transform: translateX(-100%);
        z-index: 1000;
        transition: right 0.3s ease-in-out;
        .list_con{
            ul {
                border-bottom: 1px solid white;
                width: auto;
                max-height:0;
                overflow: hidden;
                transition: 0.5s;
            }
            >li.on{
                .bi-plus:before{
                    content: "\F2EA";
                }
                ul{
                    max-height: 300px;
                }
            }
        }
    }
    .menu-content.show{
        transform: translateX(0);
    }
}
@media (max-width: 758px) {
    #mobile-menu {
        width: 90%;
    }
    #mobile-menu .menu-content {
        width: 90%;
    }
}
#mobile-menu.show {
    display: block;
    left: 0;
}
#overlay.show {
    display: block;
    opacity: 1;
}
// 아이콘
h1 img {
    width: 129px;
    height: auto;
}
// 메인이미지 컴포넌트
.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.text-container{
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#mainimg{
    @media (max-width: 575px) {
        img {
            object-fit: cover;
            max-width: 200% !important;
            height: auto;
            margin-left: -50%;
        }
    }
    @media(max-width:575px) and (min-width: 376px){
        
    }
}
// 셀럽 착장 컴포넌트
#celebrity_outfit{
    .text-overlay {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .celeb_btn{
        width: 200px;
        height: 45px;
        @media (max-width:1440px) {
            width: 150px;
            height: 35px;
        }
        @media (max-width:1024px) {
            width: 110px;
            height: 30px;
        }
        @media (max-width:990px) {
            width: 150px;
            height: 35px;
        }
        @media(max-width:575px){
            border-top: 0 !important;
            border-left: 0 !important;
            border-right: 0 !important;
        }
        }
    img{
        @media (max-width: 575px) {
            object-fit: cover;
            max-width: 200% !important;
            height: auto;
            margin-left: -50%;
        }  
    }
    
}
// 캘빈 제품 슬라이드
#calvin_selling{
    margin-left: 235px;
    @media(max-width:1200px){
        margin-left: 170px;
    }
    .swiper {
        max-width: 100%;
    }
    @media (max-width:758px) {
        margin-left: 50px;
    }
    @media (max-width:575px) {
        height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

}
#m_calvin_selling {
    .mo_swiper_height{
        max-height: 910px;
        height: 176vw;
    }
    @media (max-width:5000px) and (min-width:575px){
        height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
}
#video {
    .bi-play-fill{
        font-size: 100px;
        @media (max-width:990px){
            font-size: 70px;
        }
    }
}
#jk_new{
    .border_spacing{
        margin-top: 105px;
    }
    .btns_title_spacing{
        margin-top: 50px;
    }
    .jk_mobile div{
        @media (max-width:991px){
            width: 100%;
        }
    }
    img{
        @media (max-width: 375px) {
                object-fit: cover;
                max-width: 200% !important;
                height: auto;
                margin-left: -50%;
        }  
    }
}
// 언더웨어 컴포넌트
#underwear {
    .underwear_mt{
        margin-top: 258px;
    }
    .underwear_mb{
        margin-bottom: 37px;
    }
    .underwear_ml{
        margin-left: 104px;;
    }
    .box_border_b{
        border-bottom: 1px solid white;
        box-sizing: border-box;
    }
    .box_border_l{
        border-left: 1px solid white;
        box-sizing: border-box;
    }
    .box_border_r{
        border-right: 1px solid white;
        box-sizing: border-box;
    }
    @media(max-width:575px){
        img{
            width: 100% !important;
            height: auto;
        }
        .m_img{
            bottom: 5%;
        }
        .m_btn{
            border-top: 0 !important;
            border-left: 0 !important;
            border-right: 0 !important;
            margin-top: 10rem;
        }
    }
    @media (max-width:900px) and (min-width:768px){
        .btns_title_spacing{
            margin-left: 0 !important;
            display: flex;
            flex-direction: column;
            .men_btn{
                margin-top: 1rem;
                margin-left: 0 !important;
            }
        }


    }
    @media (max-width:320px){
        .m_img {
            span{
                display: none;
            }
        }
        .m_btn{
            margin-top: 5rem;
        }
    }
}
// 이메일 폼
#email_form{
    .email_bg{
        background-color: #F6F1E2;
        max-width: 1920px;
        height: 70px;
    }
    .email_input {
        width: 422px;
        height: 35px;
        border-radius: 4px 0 0 4px;
        box-sizing: border-box;
        @media (max-width: 1200px){
            width: 380px;
        }
        @media (max-width: 1024px){
            width: 330px;
        }
    }
    .submit_button {
        width: 116px;
        height: 35px;
        cursor: pointer;
        background-color: #F6F1E2;
        border-radius: 0 4px 4px 0;
        box-sizing: border-box;
        @media(max-width:990px){
            width: 0;
        }
    }
    .submit_button:hover {
        background-color: #333;
        color: white !important;
    }
    @media (max-width: 990px){
        .email_bg{
            height: auto;
        }
        .email_input {
            border: none !important;
            border-bottom: 1px solid black !important;
            background-color: transparent;
            border-radius: 0;
        }
        .submit_button {
            // position: relative;
            border-top: none !important;
            border-right: none !important;
            border-left: none !important;
            border-radius: 0 !important;
            .button_text {
                display: none;
            }
            .bi-arrow-right {
                display: block;
                font-size: 20px;
            }
        }
        .email_input::placeholder {
            text-align: start;
        }
    }
    @media(max-width:575px){
        margin-top: 100px;
    }
}
.follow_icons{
    transform: scale(0.6);
}
// 풋터
#ft{
    .lang, .natl{
        .dropdown_content {
            display: none;
            min-width: 225px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdown_btn {
            cursor: pointer;
            min-width: 225px;
            height: 33px;
        }
    }
    @media (max-width:1200px){
        .tips, .my_page{
            display: none;
        }
    }
    @media(max-width:990px){
        .ft_con{
            ul {
                border-bottom: 1px solid white;
                padding-bottom: 10px;
                margin-bottom: 10px;
                width: auto;
                max-height:0;
                overflow: hidden;
                transition: 0.5s;
            }
            >div.on{
                .bi-plus-lg:before{
                    content: "\f63b";
                }
                ul{
                    max-height: 300px;
                }
            }
        }
        .tips, .my_page{
            display: block;
        }
        .follow{
            display: none;
        }
        .lang_natl_choose{
            border-bottom: 1px solid white;
        }
    }

}
